:root {
    --backgroundStart: url(./themes/day/day1.jpg);
    --backgroundEnd: url(./themes/day/day2.jpg);
}

@font-face {
    font-family: 'theme';
    src: url('./assets/fonts/theme.ttf') format('truetype'); 
}

* {
    margin: 0;
    padding: 0;
}

/* Estilização controles */

.navBar {
    background-color: rgba(255, 255, 255, 0.55);
    position: fixed;
    display: inline-block;
    z-index: 1;
    width: 12.5vw;
    height: 12.5vh;
    top: 1%;
    left: 50%;
    padding: 1vh;
    transform: translateX(-50%);
    border-radius: 1vw;
    border: solid 0.5vh black;
    box-shadow: .2em .2em rgba(0, 0, 0, .5);
    text-align: center;
}

#navBarHome {
    width: 97.5%;
    left: .5%;
    transform: translateX(0);
}

.navBar h2 {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'theme', Times, serif;
    font-size: 1.5rem;
    font-weight: lighter;
}

.themeList {
    position: fixed;
    display: grid;
    top: 60%;
    transform: translateY(-50%);
    left: 2%;
}
.themeList button {
    z-index: 10;
    width: 7.5vw;
    height: auto;
    margin: .5%;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0);
}

.themeList button:hover {
    width: 8vw;
}

.btnThemeSongPlay {
    position: fixed;
    display: inline-block;
    top: 60%;
    transform: translateY(-50%);
    left: 77.5%;
    transform: translate(-50%, -50%);
    width: 3.5vw;
    height: 3.5vw;
    background-color: rgba(255, 255, 255, 0 );
    background-image: url(./assets/play.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: .1rem;
    border-radius: 50%;
}

#btnThemeSongPlayHome {
    left: 12.5%;
}

.btnThemeSongPlay:hover {
    width: 3.75vw;
    height: 3.75vw;
}

/* Estilização Slides */

.slide {
    position: fixed;
    top: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    animation: slide 5s;
}

@keyframes slide {
    from{
        background-image: var(--backgroundStart);
    }
    to{
        background-image: var(--backgroundEnd);
    }
}

/* Estilização Formulários */

.form h1 {
    margin-bottom: 5%;
    font-family: 'theme', Times, Serif;
    font-weight: lighter;
    font-size: 3rem;
}

.form {
    background-color: rgba(255, 255, 255, 0.55);
    padding: 2.5%;    
    position: fixed;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2vw;
    border: solid 0.75vh black;
    box-shadow: .2em .2em rgba(0, 0, 0, .5);
}

.form input {
    position: relative;
    padding: .30em;
    padding-left: .2em;
    padding-right: .2em;
    height: 50%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-bottom: solid .2rem;
    background-color: transparent;
    font-size: medium;
    font-weight: bold;
}

.form input:focus {
    outline: none;
    padding-left: .4em;
    padding-right: .4em;;
    transform: translateX(-50%);
}

.form label {
    position: relative;
    width: 100%;
    margin-bottom: 4%;
    margin-left: 3%;
    font-weight: bold;
}


.formNav {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 2.5%;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    width: 100%;
    height: 2rem;
}

.formNav button {
    background-color: rgba(255, 255, 255, 0); 
    display: inline-block;
    position: absolute;
    width: 45%;
    height: 120%;
    left: 25%;
    border-radius: 1em;
    border: solid .2rem black;
    font-family: 'theme', Times, Serif;
    font-weight: lighter;
    font-size: 1.75rem;
    transform: translateX(-50%);
    box-shadow: .1rem .1rem black;
}

.formNav button:hover {
    background-color: rgba(99, 99, 99, 0.5);
}

.formNav button:active {
    background-color: rgba(99, 99, 99, 1);
}

.formNav .formAnchor {
    display: inline-block;
    text-align: center;
    position: relative;
    left: 55%;
}

.formNav .formAnchor a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.formNav .formAnchor a:hover {
    text-decoration: underline;
    font-weight: bolder;
    color: black;
}

/* Estilização cabeçalho recados */

#formMsg {
    position: absolute;
    display: inline-block;
    left: 17.5%;
    width: 80%;
    top: 30%;
    height: 65%;
    text-align: left;
}

#editMsgDesc {
    outline: none;
    position: absolute;
    height: 35%;
    width: 25%;
    padding: .1em;
    border: solid 2px black;
    border-radius: 1vh;
    background-color: rgba(255, 255, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
}
#editMsgDetail {
    outline: none;
    position: absolute;
    width: 50%;
    left: 26%;
    padding: .25em;
    resize: none;
    border: solid 2px black;
    border-radius: 1vh;
    background-color: rgba(255, 255, 255, 0 );
    font-family: Arial, Helvetica, sans-serif;
}

#editMsgSave {
    position: absolute;
    width: 10%;
    height: 40%;
    left: 77.5%;
    border: solid 2px black;
    border-radius: 1vh;
    background-color: rgba(0, 255, 0, 0.25);
    font-weight: bold;
}

#editMsgSave:hover {
    background-color: rgba(0, 255, 0, 0.5);
}

#editMsgSave:active {
    background-color: rgba(0, 255, 0, 1);
}


#editMsgCancel {
    position: absolute;
    width: 10%;
    height: 40%;
    left: 88%;
    border: solid 2px black;
    border-radius: 1vh;
    background-color: rgba(255, 0, 0, 0.25);
    font-weight: bold;
}

#editMsgCancel:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

#editMsgCancel:active {
    background-color: rgba(255, 0, 0, 1);
}

/* Estilização lista de mensagens */

#divTableMsgList {
    background-color: rgba(255, 255, 255, 0.55);
    z-index: 1;
    position: absolute;
    width: 98%;
    height: 75%;
    left: .5%;
    top: 20%;
    padding: 0 .5%;
    border-radius: 1vw;
    overflow-y: scroll;
}

#tableMsgList {
    z-index: 2;
    position: relative;
    width: 99%;
    left: .5%;
    border-collapse: collapse;
}

#tableMsgList tbody > tr {
    border-bottom: solid 1px black ;
}

#tableMsgList  th {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
}

#thId {
    width: 5%;
}

#thDesc {
    width: 20%;
}

#thDetail {
    width: 65%;
}

#thAction {
    width: 10%;
}

#tableMsgList  td {
    padding: 0.5%;
}

.tableMsgListEdit, .tableMsgListDelete {
    position: relative;
    width: 100%;
    border: solid 1px black;
    border-radius: 1vh;
    font-weight: bold;
}

.tableMsgListEdit {
    margin-bottom: 1%;
    background-color: rgba(0, 255, 0, 0.25);
}

.tableMsgListEdit:hover {
    background-color: rgba(0, 255, 0, 0.5);
}

.tableMsgListEdit:active {
    background-color: rgba(0, 255, 0, 1);
}

.tableMsgListDelete {
    background-color: rgba(255, 0, 0, 0.25);
}

.tableMsgListDelete:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.tableMsgListDelete:active {
    background-color: rgba(255, 0, 0, 1);
}