:root {
    --backgroundStart: url(./themes/day/day1.jpg);
    --backgroundEnd: url(./themes/day/day2.jpg);
}

* {
    margin: 0;
    padding: 0;
}

.navBar {
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 100vw;
    height: 5vh;
}

#themeList {
    position: relative;
    display: inline-block;
}

#themeSongPlayer {
    position: relative;
    display: inline-block;
}

.slide {
    position: fixed;
    top: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    animation: slide 5s;
}

@keyframes slide {
    from{
        background-image: var(--backgroundStart);
    }
    to{
        background-image: var(--backgroundEnd);
    }
}